.calc{
    width: 250px;
    height: 400px;
    text-align: center !important;
    vertical-align: middle !important;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 35%, rgba(119,0,96,0.8) 100%, rgba(0,146,255,0.8) 5%);
    padding: 50px 50px;
    border: none;
    border-radius: 20px;
}

.buttons-digit{
    width: 250px;
    height: 250px;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
}

.result{
    background: #fff;
    width: 230px;
    height: 80px;
    text-align: right !important;
    vertical-align: middle !important;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: 'Orbitron', sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 34px;
}

.digits{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50px !important; 
    height: 50px !important;
    border: none;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    color: #000;
    background: #fff;
    border: 1px solid;
    border-color: #fff;
    font-size: 20px;
}

.digits:hover{
    background: rgba(255,255,255,0.8);
}
.digits-equal{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50px !important; 
    height: 50px !important;
    border: none;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    color:#fff;
    border: 1px solid;
    border-color: #fce903;
    background: #fce903;
    font-size: 20px;
}
.digits-del{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50px !important; 
    height: 50px !important;
    border: none;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background:#ff0000;
    border: 1px solid;
    border-color: #ff0000;
    font-size: 20px;
}

.digits-clear{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50px !important; 
    height: 50px !important;
    border: none;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background: #57E831;
    border: 1px solid;
    border-color:#57e831;
    font-size: 20px;
}

.digits-equal:hover{
    background: rgba(255,236,79,0.8);
}

.digits-clear:hover{
   background:rgba(87,232,49,0.8);
}

.digits-del:hover{
    background: rgba(255,0,0,0.8);
}

.operation{
    width: 15% !important; 
    height: 30% !important;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
    vertical-align: middle !important;
}

html{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body, head, h1{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(242,193,233,1) 0%, rgba(255,243,253,1) 51%, rgba(242,193,233,1) 100%);
}

header{
    background: linear-gradient(90deg, rgba(242,193,233,1) 0%, rgba(255,243,253,1) 51%, rgba(242,193,233,1) 100%);
    color: rgba(119,0,96,0.8);
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0;
    padding: 0;
    border: 0px;
    font-family: 'Playfair Display', serif;
}

footer{
    background: linear-gradient(90deg, rgba(242,193,233,1) 0%, rgba(255,243,253,1) 51%, rgba(242,193,233,1) 100%);
    size: 5px;
    color: rgba(119,0,96,0.8);
    text-align: center !important;
    vertical-align: middle !important;
    margin: none;
    margin-left: none;
    margin-right: none;
    padding: 75px 75px;
    font-family: 'Playfair Display', serif;
}